<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/logo2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Home</title>
    </head>

<body>
	<header id="main-header">
		<div class="container">
			<h1>Home</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="/Home">Home</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/post">Posts</a></li>
				<li><a href="/chat">Chat</a></li>
                <li><a href="/user/signout">Log out</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>Social Network</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>Welcome</h1>
			<p>We are proud to present you our social network. On this page you can find friends all over the world, chat with them, publish some posts about your daily activities, see other's posts and comment them.</p>
		</section>
		<aside id="sidebar">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud...</p>
		</aside>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2019 Social Network</p>
	</footer>

</body>
</html>